@charset "UTF-8";
:root {
    --black: #1F1A17;
    --gold: #C2A46F;
    --pink: #FF74A6;
    --blue: #A2D2FF;
    --white: #FFF8F3;
    --softpink: #FFC8DD;
}

/* --- Global Styles --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: 'Playfair Display', serif;
    color: var(--black);
}
.news-detail-container {
 	padding-left: 120px;
 	padding-bottom:80px;
    
    display: flex;
    align-items: center;
}

.news-content-wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
}

/* Text Styling */
.news-text-section {
    flex: 1;
}

.news-title {
    font-family: 'Playfair Display', serif; 
    color: var(--pink);
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 30px;
    font-weight:400;
}

.news-body p {
    font-size: 20px;
    color: var(--black);
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

/* Image Styling */
.news-image-section {
    flex: 1.2; 
}

.main-news-img {
    width: 820px;
    height: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); 
    object-fit: cover;
}